@font-face {
	font-family: Comfortaa;
	src: url(Comfortaa-VariableFont_wght.ttf);
}

body, html {
	margin: 0;
	height: 100%;
}

body {
	font-family: Comfortaa;
	display: flex;
	justify-content: center;
	background-color: #dbdbdb
}

#page-content {
	width: 90%;
	max-height: 400px;
	margin-top: 30px;
}

#header, #header-text {
	color: #62466B;
	text-decoration: none;
	font-weight: bold;
	font-size: 64px;
}

#page-body {
	height: 180px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	font-size: 22px;
}

#weeks {
	column-count: 2;
	width: 30%;
	min-width: 300px;
	max-width: 400px;
}

.week {
	margin-bottom: 6px;
}

#all-puzzles p {
	margin-bottom: 0;
}

a#all-puzzles-link, a#go-back-link, #submit-linkc {
	color: #493350;
}

#about {

}

#open-about {
	color: #493350;
	cursor: pointer;
	text-decoration: underline;
}

#about-text {
	font-size: 18px;
	color: #334747;
}

a {
	color: #52807e;
}
/* #5E807F #F4F6F6 #2D2327 #62466B  */
a#first {
	color: #3e5756;
	font-size: 24px;

}

#week-header {
	font-size: 26px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #2D2327;
	text-decoration: none;
}

#week-puzzles {
	display: flex;
	flex-direction: column;
}

.puzzle {
	margin-bottom: 6px;
}

#puzzle-content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: #2D2327;
}

#puzzle-text {
	margin-left: 10px;
	flex: 35 1 330px;
}

#puzzle-title {
	font-size: 24px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#puzzle-info {
	max-width: 100%;
}

#puzzle-image {
	width: 35%;
	flex: 1 0 35%;
}

#puzzle-image img {
	width: 100%;
}

.spoiler {
	color: grey;
	background-color: grey;
	transition-duration: .1s;
	border-radius: 3px;
	cursor: pointer;
}

.spoiler:hover {
	color: darkgrey;
	background-color: darkgrey;
}

.clicked {
	background-color: lightgrey;
	color: #2D2327;
}

.spoiler a {
	color: inherit;
	pointer-events: none;
}

.spoiler.clicked a {
	color: #62466B;
	pointer-events: all;
}

span.clicked:hover {
	background-color: lightgrey;
	color: #2D2327;
}

code {
	display: inline-flex;
	border-radius: 6px;
	border: 2px solid #2D2327;
	background-color: gray;
	padding: 3px;
}

#puzzles {
	color: #2D2327;
}

.puzzle span {
	font-size: 18px;
}

#create {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: min-content;
	margin-top: 32px;
}

input {
	font-size: 20px;
}

#create-week {
	width: 8%;
	max-width: 70px;
	margin-bottom: 20px;
}

#create-author, #create-title {
	width: 30%;
	max-width: 260px;
}

#create-info {
	width: 80%;
	height: 200px;
	max-width: 700px;
}

#create-image {
	width: 40%;
	max-width: 346px;
}

#create-submit {
	margin-top: 20px;
	width: 16%;
	max-width: 126px;
}